.wrapper{
    margin: 0 auto;
    padding: 0;
    width: 1000px;
    position: absolute;
    left: 5%;
    top: 10%;
    transform: (-50% 50%);
    background-color:#e6b4587d;
    text-align: center;
    

}


