
	<div class="wrapper">

        <br>

        <fieldset>

            <div class="form">

                <label>Name &nbsp;&nbsp;	</label>
                <input type="text" name="name"><br><br>
        
                <label>NIC 	&nbsp;&nbsp;	</label>
                <input type="text" name="nic"><br><br>
        
                <label>Gender &nbsp;&nbsp;	</label>
                        
                            <input type="radio" id="gender" name="gender" value="male"/>Male &nbsp;
                            <input type="radio" id="gender" name="gender" value="female"/>Female <br><br>
        
                    <label>Home Address(Residence) </label>
                        <input type="text" name="no" placeholder="No:">
                        <input type="text" name="street" placeholder="Street:">
                        <input type="text" name="postvillage" placeholder="Village:">
                        <input type="text" name="city" placeholder="City:">
                        <br><br>	
        
                    <label>Work place Address(Residence) </label>
                        <input type="text" name="no" placeholder="No:">
                        <input type="text" name="street" placeholder="Street:">
                        <input type="text" name="postvillage" placeholder="Village:">
                        <input type="text" name="city" placeholder="City:">
                        <br><br>
        
                    <label>Telephone</label>&nbsp;&nbsp;
                        <input type="number" name="tnumber" maxlength="10">&nbsp;&nbsp;
                        <label>Mobile</label>&nbsp;&nbsp;
                        <input type="number" name="mnumber" maxlength="10">
                        <br><br>
        
                    <label>Email &nbsp;&nbsp;	  <br>(if available)</label>
                        <input type="text" name="email"><br><br>
        
                    <label>User Name &nbsp;&nbsp; </label>
                        <input type="text" name="username">	&nbsp;&nbsp;	
                    <label>Password &nbsp;&nbsp; </label>
                        <input type="text" name="password"><br><br><br><br>
        
                    <button>Cansel</button>&nbsp;&nbsp;
                    <button type="Submit">Submit</button>
               
             </div><!--   form -->
    
    
        </fieldset>
        <br>

    </div><!-- wrapper -->

    <div class="image">
        <img src="assets/img/Custodian.jpg" alt="">
    </div>
